$header-bgcolor: #212529;
$header-font-color: #fff;
$header-font-family: 'Montserrat', sans-serif;
$header-font-size: 15px;

$team-bgcolor:#f8f9fa;
$team-h2-size:40px;
$normal-font-size:16px;
$normal-font-color: #6c757d;

$links-bgcolor:#212529;